#SECRET_KEY=django-insecure-g%=g7@&(szs4a3f_21a2vvnk)e-pb8tgf(la=4oq651%uf_!gb
#DEBUG=True
#ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
#POSTGRES_ENGINE=django.db.backends.postgresql
#POSTGRES_USER=postgres
#POSTGRES_PASSWORD=Postgres@123
#POSTGRES_DB=estate
#POSTGRES_HOST=localhost
#POSTGRES_PORT=5432
#SIGNING_KEY=eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTcyMzQ4NjA3OCwiaWF0IjoxNzIzNDg2MDc4fQ.q5Kxcpjap6_CKXOuihX29lIHRjZzvwQR-SFTw_Lnclk
#EMAIL_HOST='sandbox.smtp.mailtrap.io'
#EMAIL_HOST_USER='16ea50df5e12f0'
#EMAIL_HOST_PASSWORD='357da45876b85d'
#EMAIL_PORT='2525'
#DOMAIN=localhost:8000